body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    144deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(32, 30, 30, 1) 47%,
    rgba(63, 48, 70, 1) 80%
  );
  scroll-behavior: smooth;
}

:root {
  --main-gradient: linear-gradient(
    144deg,
    rgba(135, 50, 153, 1) 0%,
    rgba(72, 34, 99, 1) 52%,
    rgba(157, 45, 210, 1) 90%
  );
  --gradient-background: rgb(135, 50, 153);
  --primary: #9518fc;
  --secondary: rgb(238, 234, 234);
}

.navbar {
  /* background: #131313; */
  background: transparent;
  /* opacity: 0.5; */
  backdrop-filter: blur(6px);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  max-width: 1300px;
  z-index: -1;
  margin: 0 50px;
}

#logo {
  background: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  /* -moz-background-clip: text; */
  -webkit-text-fill-color: transparent;
  /* -moz-text-fill-color: transparent; */
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  /* font-size: 2rem; */
}

.nav_logo{
  width: 15%;
  height: 100%;
}
.nav_logo img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menu {
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
  justify-content: space-evenly;
  width: 70%;
}

.items {
  height: 80px;
  width: 50%;
}

.links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 125px; */
  width: 100%;
  padding: 0 1rem;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: var(--gradient-background);
  background: var(--main-gradient);
  color: #fff;
  transition: all 0.3s ease;
}

.links:hover {
  color: var(--primary);
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
    margin: 0.2rem 0;
  }
  .nav_logo{
    width: 40%;
  }

  .menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0 -50px;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 99;
    height: fit-content;
    font-size: 1.6rem;
    width: 102%;
  }
  #logo {
    padding-left: 25px;
  }
  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
    display: block;
    cursor: pointer;
  }
  .items {
    width: 100%;
  }
  .links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .navbar__btn {
    padding-bottom: 2rem;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5% 20%);
  }
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.hero {
  height: calc(100vh - 80px);
  /* height: fit-content; */
  background: rgb(0, 0, 0);
  background: linear-gradient(
    144deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(32, 30, 30, 1) 47%,
    rgba(63, 48, 70, 1) 80%
  );
  width: 100%;
}
.hero_section {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 90%;
  margin: auto;
}
.hero_right_section {
  width: 40%;
  padding: 1rem;
}
.hero_right_section img {
  width: 100%;
  margin: auto;
}
.hero__container {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 90%; */
  text-align: center;
}

.hero__heading {
  font-size: 3rem;
  margin: 5rem 1rem 0 1rem;
  color: #fff;
}

.hero__heading span {
  background: var(--gradient-background);
  background: var(--main-gradient);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.hero__description {
  background: var(--secondary);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 1.4rem;
  text-align: center;
}

.highlight {
  border-bottom: 4px solid rgb(132, 0, 255);
}

@media screen and (max-width: 760px) {
  .hero__heading {
    font-size: 60px;
  }
  .hero__description {
    font-size: 40px;
  }
}

.main__btn {
  background: var(--gradient-background);
  background: var(--main-gradient);
  padding: 15px 30px;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin: 1rem 0;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
  font-size: 1.5rem;
}

.main__btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.main__btn::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--primary);
  transition: all 0.35s;
  border-radius: 4px;
}

.main__btn:hover {
  color: #fff;
}

.main__btn:hover:after {
  width: 100%;
}

.whyUs {
  width: 100%;
  /* height: calc(100vh - 80px); */
  height: fit-content;
  margin-top: 2rem;
}
.heading {
  color: var(--secondary);
  display: flex;
  justify-content: center;
}
.heading h1 {
  font-size: 2.5rem;
  width: fit-content;

}

.heading h1 span , .contact_heading h1 span {
  width: 100%;
  height: 2.5px;
  background-color: var(--primary);
  display: block;
  margin-top: 4px;
  border-radius: 5px;
}

.whyUs_desc {
  text-align: center;
  display: flex;
  justify-content: center;
  color: var(--secondary);
  font-size: x-large;
}

.whyUs_section{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.whyUs_image_Section{
  /* position: absolute; */
  top: 0;
  bottom: 0;
  left: 0;
  width: 30%;
}

.whyUs_image_Section img{
  width: 100%;
  height: 75vh;
  object-fit: cover;
}

.whyUs_slider{
  width: 70%;
  height: 100%;
  /* margin: auto; */
  position: absolute;
  right: 0;
}
/* flex flex-col items-center  gap-4 justify-center w-full h-full px-12  lg:px-24 bg-base-100  */

.slider{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 96%;
margin: 0 auto;
height: 100%;
padding: 1rem;
background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(54,19,79,1) 52%, rgba(0,0,0,1) 90%);
color: var(--secondary);
/* margin-bottom: 2rem; */
}


.about {
  width: 100%;
  height: calc(100vh - 80px);
  /* outline: 1px solid #9518fc; */
  /* border: 1px solid transparent; */
  /* height: fit-content; */
  background: rgb(0, 0, 0);
  background: linear-gradient(
    144deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(32, 30, 30, 1) 47%,
    rgba(63, 48, 70, 1) 80%
  );
  /* margin-top: 5rem; */
}

.aboutSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  position: relative;
}

.left_section {
  width: 60%;
  height: 100%;
  padding: 1rem 1rem;
}

.desc {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
}

.desc h3 {
  background: var(--gradient-background);
  background: var(--main-gradient);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 2rem;
}

.desc p {
  font-size: 1.3rem;
  color: var(--secondary);
}

.right_section {
  width: 40%;
  height: 100%;
  /* border: 1px solid; */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  /* border: 1px solid; */
}
.right_section img {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  object-fit: cover;
}

.certifications {
  padding-top: 5rem;
  width: 75%;
  /* min-height: calc(100vh - 80px); */
  height: fit-content;
  margin-bottom: 5rem;
  margin: auto;
}
.certification_section {
  height: 25rem !important;
  width: 100% !important;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider_container {
  /* width: 25rem !important; */
  height: 15rem !important;
  /* padding: 0 1rem; */
  /* display: flex; */
  /* justify-content: center; */
  transition: ease-in;
  margin-top: 2rem;
}

/* w-full h-full rounded-xl  */
.slider_image_container {
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: rgb(212, 210, 212); */
  /* background: linear-gradient(
    144deg,
    rgba(212, 210, 212, 1) 0%,
    rgba(223, 189, 247, 1) 52%,
    rgba(195, 118, 231, 1) 90%
  ); */
}
/* w-full rounded h-full opacity-80 border-2 */
.slider_image {
  width: 40% !important;
  border-radius: 5px;
  height: 50% !important;
  object-fit: fill !important;
  opacity: 0.9;
}

.certificate_desc {
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--secondary);
}

.certificate_desc h1 {
  margin: 1rem 0 0 0;
  font-size: 1.7rem;
  background: rgb(0,0,0);
background: linear-gradient(
    144deg,
    rgba(212, 210, 212, 1) 0%,
    rgba(223, 189, 247, 1) 52%,
    rgba(195, 118, 231, 1) 90%
  );
-webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.certificate_desc p {
  /* margin: 1rem 0 0 0; */
  font-size: 0.8rem;
}


.services {
  width: 100%;
  min-height: 100%;
  height: fit-content;
  background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(54,19,79,1) 52%, rgba(0,0,0,1) 90%);
padding-bottom: 2rem;
}

.services_section {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}
.services_cards{
  display: grid;
  grid-template-columns: repeat( 3 , 1fr);
  gap: 3rem;
  column-gap: 4rem;
  margin-top: 2rem;
}
.card {
  position: relative;
  max-width: 20rem;
  min-height: 25rem;
  background-size: cover;
  background: linear-gradient(
    144deg,
    rgba(212, 210, 212, 1) 0%,
    rgba(223, 189, 247, 1) 52%,
    rgba(195, 118, 231, 1) 90%
  );
  border-radius: 20px;
  background-position: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* box-shadow; */
}

.icon_container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  align-items: center;
}

.card_icon {
  color: var(--primary);
  /* color: var(--gradient-background); */
  font-size: 4rem;
  /* background: var(--secondary); */
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  padding: 0.5rem;
}
.card_detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem;
}
.card_detail h4{
background: var(--gradient-background);
  background: var(--main-gradient);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  /* padding:1rem; */
  margin: 1rem 0;
}
.card_detail p{
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
}
/*  Assigning properties to inner
        content of card  */
.card__inner {
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--secondary);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  opacity: 0;
  padding: 1rem;
  transition: all 0.4s ease 0s;
}
.card:hover .card__inner {
  opacity: 1;
}

.card__inner p {
  height: 95%;
  font-weight: 400;
}

.card__inner p ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
}
.list-description{
  margin: 3px 0;
}

@media (max-width:1048px) {
  .services_cards{
    grid-template-columns: repeat(2,1fr);
  }
}


.partners{
  width: 100%;
  height: fit-content;
  margin-bottom: 6rem;
}

.partners_section{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partners_cards{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 3rem 0;
  width: 100%;
}

.partner{
  width: 40%;
  height: 100%;
  background: var(--secondary);
  padding: 1rem;
  border-radius: 3px;
}

.partner img{
  width: 100%;
}

.contact{
  width: 100%;
  background: #131313;
  /* background: ; */
  /* background: var(--gradient-background); */
  /* background: var(--main-gradient); */
  height: fit-content;
}

.contact_section{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 5rem; */
}

.contactUs{
  width: 100%;
  display: flex;
  gap: 1rem;
}
.footer_combi{
  display: flex;
  width: 67%;
  justify-content: space-between;
}
.left_part{
  /* border: 1px solid red; */
  width: 50%;
}

.contact_logo{
  width: 80%;
  margin: auto;
  height: 50%;
}
.contact_logo img{
  width: 100%;
  cursor: pointer;
  height: 100%;
  object-fit: contain;
}
.social_icons{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}
.icons{
  display: flex;
  color: var(--secondary);
  margin: auto;
  justify-content: space-evenly;
}
.icon{
  font-size: 2rem;
  cursor: pointer;
  padding: 0.2rem;
}
.icon:hover{
  color: var(--primary);
  transform: scale(1.3);
}
.contact_heading h1{
  font-size: 1.8rem;
  color: var(--secondary);
  width: fit-content;
}

.middle_part{
  /* border: 1px solid red; */
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.contact_links{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact_link{
  list-style: none;
  color: var(--secondary);
  padding: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}
.contact_link:hover{
  color: var(--primary);
}
.right_part{
  width: 33%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.contact_details{
  margin-top: 1rem;
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.address , .mail{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.2rem 0;
}

.address .icon , .mail .icon{
  width: 15%;
}

.address span,.mail span{
  margin-left: 10px;
  width: 80%;
}

.copyright-area{
  background: #232323;
  color: var(--secondary);
  display: flex;
  padding: 1rem;
  justify-content: center;
}

.copy_container{
  width: 75%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-menu ul{
  display: flex;
  list-style: none;
  width: 100%;
}

.footer-menu ul li a{
  padding:0.5rem;
  color: var(--secondary);
  text-decoration: none;
}

.copyright-text p a{
   color: var(--primary);
   text-decoration: none;
}

.footer-menu ul li a:hover{
  color: var(--primary);
}

@media (max-width:1350px) {
  .hero{
    height: fit-content;
    padding-bottom: 5rem;
  }
  .whyUs{
    height: fit-content;
  }
  .about{
    height: fit-content;
  }
  /* .right_section{
    height: 40rem;
  } */
  .certifications{
    height: fit-content;
  }
  .services{
    height: fit-content;
  }
  .partners{
    height: fit-content;
  }
}

@media (min-width:1350px) {
  .links{
    width: 125px;
    padding: 0;
  }
  .menu{
    width: 80%;
  }
}

@media (max-width:1202px) {
  .navbar__btn{
    display: none;
  }
  .hero__heading{
    font-size: 2.7rem;
  }
  .hero__description{
    font-size: 1.25rem;
  }
}

@media (max-width:950px) {
  .hero_section{
    flex-direction: column-reverse;
  }
  .hero__container{
    width: 100%;
    margin-bottom: 2rem;
  }
  .hero_right_section{
    width: 80%;
    margin: auto;
  }
}
  @media (max-width:750px) {
    .services_cards{
      grid-template-columns: repeat(1,1fr);
    }
    .contactUs{
      flex-direction: column-reverse;
    }
    .footer_combi{
      width: 100%;
    }
    .right_part{
      width: 100%;
      padding:0;
    }
    .footer-menu ul{
      display: none;
    }
    .copy_container{
      width: 100%;
      margin: auto;
      justify-content: center;
    }

    .aboutSection{
      flex-direction: column;
    }
    .right_section{
      position: relative;
      width: 50%;
      margin: auto;
    }
    .left_section{
      width: 100%;
      padding: 0;
    }
    .desc h3{
      font-size: 1.3rem;
      text-align: center;
    }
    .desc p{
      font-size: 1rem;
      text-align: center;
    }
   .whyUs_section{
    flex-direction: column-reverse;
   }
   .whyUs_slider{
    position: relative;
    width: 100%;
   }
   .whyUs_image_Section{
    width: 50%;
    margin: auto;
    height: 50%;
   }
   .whyUs_image_Section img{
    height: 100%;
   }
   .heading h1{
    font-size: 2rem;
   }
   .whyUs_desc{
    font-size: 1.3rem;
    padding: 0 0.2rem;
   }

  }

  @media (max-width:500px) {
    .right_section{
      width: 100%;
    }
    .whyUs_image_Section{
      width: 100%;
    }
  }

  @media (max-width:350px) {
    .middle_part{
      padding: 0;
    }
    .hero__heading{
      font-size: 2rem;
    }
    .hero__description{
      font-size: 1rem;
    }
    .whyUs{
      padding: 5px;
    }
  }
